@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nanum+Gothic+Coding&display=swap");

* {
	margin: 0px;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	color: white;
}

html {
	--primary: rgb(27, 36, 80);
	--background-color: linear-gradient(rgb(34, 46, 102), rgb(20, 27, 59));
	--padding: 0rem 10%;

	background-position: fixed;
	scroll-behavior: smooth;
	scroll-padding: 0;
	scroll-margin: 0;
}

body {
	background: var(--background-color);
}

body,
html {
	scroll-snap-type: mandatory;
	scroll-snap-type: y mandatory;
}

section {
	background: var(--background-color);
	min-height: 100vh;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	padding-bottom: 4rem;
}

button:hover,
/* nav ol a:hover, */
#socials #links a:hover {
	filter: brightness(85%);
}

#socials {
	position: fixed;
	bottom: 0px;
}

#socials #links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 1rem;
	font-size: 4rem;

	background: rgb(44, 57, 120);

	padding: 0.4rem 1rem;
	border-radius: 2rem;
}

#socials #links a,
#socials #links a:visited {
	color: white;
}

#pointer {
	position: absolute;
	bottom: 8rem;
	left: 8rem;
}

#pointer p {
	font-size: 2.8rem;
	rotate: 10deg;
	font-family: "Dancing Script", cursive;
	font-weight: normal;
}

#pointer i {
	font-size: 2rem;
	rotate: 180deg;
}

#about {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#about * {
	text-align: left;
}

h1 {
	font-size: 5rem;
	line-height: 110%;
	font-family: "DM Serif Text", serif;
	text-align: center;
	font-weight: 100;

	margin: 1rem 0%;
}

.title {
	padding: 3rem;
	padding-top: 2rem;
	margin: 0;

	font-family: "Dancing Script", cursive;
	font-weight: bolder;
}

#about h1 {
	font-size: 7rem;
}

h2 {
	font-family: "Nanum Gothic Coding", monospace;
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

p {
	font-size: 1.5rem;
}

@keyframes bobbing {
	0%,
	100% {
		bottom: 1rem;
	}
	50% {
		bottom: 2.5rem;
	}
}

#scroll {
	position: absolute;
	left: 0;
	right: 0;

	bottom: 0;
	margin: auto;
	width: fit-content;
}

#scroll-anim {
	animation: bobbing 1.5s ease-in-out infinite;

	position: relative;
	display: flex;
	margin: 0rem auto;
	flex-direction: column;
	align-items: center;
}

#scroll h2 {
	font-size: 2rem;
}

#arrows {
	font-size: 1.8rem;
	display: flex;
	gap: 0.5rem;
	margin-top: 0.75rem;
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	margin: auto;
	margin-bottom: 3rem;
	text-align: center;

	--gap: 1rem;
	gap: var(--gap);
	--items: 4;

	padding: var(--padding);
}

#about {
	padding: var(--padding);
}

.card {
	min-width: 12rem;
	max-width: calc((100% - var(--gap) * (var(--items) - 1)) / var(--items));
	padding: 1rem;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
}

.carousel .card {
	/* filter: brightness(65%); */
}

.carousel .active {
	filter: brightness(100%);
}

.container a {
	margin: auto;
	width: 50%;
}

.carousel .nav-buttons {
	display: flex;
	gap: 5rem;
	align-items: center;
	justify-content: center;
}

.carousel .nav-buttons button {
	aspect-ratio: 2/1;
	height: 3rem;
	border-radius: 0.8rem;
	background: rgba(0, 0, 0, 0.4);
	font-size: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	padding: 0.5rem;
	background: white;
	font-weight: bold;
	border: none;

	box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

.container a button {
	width: 100%;
	font-size: 1.5rem;
	border-radius: 2rem;
	color: var(--primary);
}

button:active {
	transform: translateX(0.1rem) translateY(0.1rem);

	box-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

#skills .container {
	--gap: 1rem;
	--items: 5;
}

#skills .card {
	background: rgba(56, 65, 117, 0.61);
	border-radius: 2.5rem;
	padding: 1.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

#skills .card img {
	width: 80%;
	margin-bottom: 1rem;
}

#skills .card h3 {
	font-weight: normal;
}

#portfolio .container {
	--items: 5;
}

#portfolio .card {
	border-radius: 1.2rem;
}

#portfolio .container h3 {
	font-size: 2.5rem;
}

#portfolio .container img {
	aspect-ratio: 3/2;
	border-radius: 1rem;
	margin-bottom: 0.75rem;
}

#portfolio .container .date {
	padding: 0%;
	margin: 0;
	font-size: 1.25rem;
	color: rgb(187, 187, 187);
}

.desc {
	display: flex;
	align-items: center;
	justify-content: center;
	--size: 1.5rem;
	font-size: var(--size);
	height: calc(var(--size) * 2);
	margin: 1rem 0rem;
}

article p {
	font-size: 1.75rem;
	margin-top: 2rem;
	padding: 0 10%;
	text-align: center;
}

@media screen and (max-width: 576px) {
	nav {
		display: none;
	}
	section {
		padding: 0;
		padding-bottom: 6rem;
	}
	article {
		margin-top: 1rem;
		margin-bottom: 3rem;
	}
	article p {
		font-size: 1.25rem;
		margin-top: 0rem;
		padding: 0 2rem;
		text-align: left;
	}
	#about {
		padding: 0px 5%;
	}
	.title {
		font-size: 3.5rem;
		padding: 2rem 0%;
		margin-bottom: 0;
	}
	#pointer {
		bottom: 1.5rem;
		left: 11.5rem;
	}
	#pointer p {
		font-size: 2.2rem;
	}
	#pointer i {
		font-size: 1.5rem;
		rotate: 190deg;
	}

	.container {
		width: 100%;
		margin-bottom: 1.5rem;
	}
	.container a {
		width: 100%;
	}
	.container a button {
		padding: 0.25rem;
		font-size: 1.25rem;
	}
	.card {
		min-width: 10rem;
	}

	#portfolio .container {
		--gap: 0.5rem;
	}
	#portfolio .container .date {
		font-size: 0.75rem;
	}
	#portfolio .container h3 {
		font-size: 1.5rem;
	}
	.desc {
		margin: 0.5rem 0rem;
	}
	.desc * {
		font-size: 1rem;
	}

	#skills .container {
		--gap: 0.5rem;
	}
	#skills .card {
		padding: 1.25rem;
	}
	#skills .card img {
		width: 70%;
		margin-bottom: 0rem;
	}
	#skills .card h3 {
		font-size: 1.5rem;
	}

	#about {
		justify-content: left;
		padding-top: 40%;
	}
	#about h2 {
		font-size: 2rem;
	}
	#about h1 {
		font-size: 5rem;
	}

	#socials #links {
		flex-direction: row;
		gap: 1rem;
		scale: 90%;
		margin: 0.5rem;
		left: 0rem;
		bottom: 0.5rem;
	}

	#scroll {
		scale: 75%;
		bottom: 15%;
	}
	#scroll-anim {
		animation-duration: 2s;
	}
}

/* nav {
	min-width: fit-content;
	max-width: 10%;

	position: fixed;
	top: 40%;
	right: 6rem;
	font-size: 1.6rem;
	display: none;
}

nav ol {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	counter-reset: item;
}

nav ol a li {
	counter-increment: item;
	list-style-type: none;
	background: rgba(0, 0, 0, 0.3);
	padding: 0.5rem;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
}

nav ol a li::before {
	content: counter(item);
	display: inline-block;
	aspect-ratio: 1/1;

	padding: 0.15rem;
	width: 1.8rem;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: center;

	border: 0.15rem solid white;
	border-radius: 100%;

	margin-right: 0.5rem;
}

nav ol a {
	text-decoration: none;
} */
