@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nanum+Gothic+Coding&display=swap");

* {
	margin: 0px;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	color: white;
}

html {
	background: rgb(27, 36, 80);
	--alt-primary: rgb(32, 42, 93);
	background-position: fixed;
	scroll-behavior: smooth;
}

body,
html {
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
}

section {
	height: 100vh;
	padding: 0rem 10%;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

nav {
	min-width: fit-content;
	max-width: 10%;

	position: fixed;
	top: 40%;
	right: 6rem;
	font-size: 1.6rem;
	display: none;
}

nav ol {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	counter-reset: item;
}

nav ol a li {
	counter-increment: item;
	list-style-type: none;
	background: rgba(0, 0, 0, 0.3);
	padding: 0.5rem;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
}

nav ol a li::before {
	content: counter(item);
	display: inline-block;
	aspect-ratio: 1/1;

	padding: 0.15rem;
	width: 1.8rem;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: center;

	border: 0.15rem solid white;
	border-radius: 100%;

	margin-right: 0.5rem;
}

nav ol a {
	text-decoration: none;
}

button:hover,
nav ol a:hover,
#socials a:hover {
	filter: brightness(85%);
}

#socials {
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 0px;
	margin: 1rem;
	font-size: 4rem;
}

#socials a,
#socials a:visited {
	color: white;
}

#about {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#about * {
	text-align: left;
}

h1 {
	font-size: 5rem;
	line-height: 110%;
	font-family: "DM Serif Text", serif;
	text-align: center;
	font-weight: 100;

	margin: 1rem 0%;
}

.title {
	padding: 3rem;
	padding-bottom: 4rem;
}

#about h1 {
	font-size: 7rem;
}

h2 {
	font-family: "Nanum Gothic Coding", monospace;
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

p {
	font-size: 1.5rem;
}

.container {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	margin: auto;
	text-align: center;

	--gap: 1rem;
	gap: var(--gap);
	--items: 4;
}

.container div {
	width: calc((100% - var(--gap) * (var(--items) - 1)) / var(--items));
	min-width: 10rem;
	padding: 1rem;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.container img {
	width: 100%;
	aspect-ratio: 3/2;
	border-radius: 1rem;
}

.container button {
	margin: auto;
	width: 50%;
	display: block;
	padding: 1rem;
	background: white;
	font-weight: bold;
	font-size: 1.5rem;
	border-radius: 2rem;
	box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

.container button * {
	color: rgb(27, 36, 80);
	text-decoration: none;
}

.container button:active {
	transform: translateX(0.1rem) translateY(0.1rem);

	box-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

#portfolio .container {
	--items: 4;
	border-radius: 2rem;
}

#portfolio .container h3 {
	font-size: 2.5rem;
}

#skills .container div {
	aspect-ratio: 2/1;
}

#skills .container div i {
	font-size: 5rem;
}

#skills .container div p {
	font-size: 4rem;
	height: 5rem;
}

#HTML i {
	color: orange;
}

#CSS i {
	color: blue;
}

#JS i {
	color: yellow;
}

#python i {
	color: violet;
}

@media screen and (max-width: 576px) {
	nav {
		display: none;
	}
	section {
		padding: 0px 5%;
	}
	.title {
		font-size: 4rem;
		padding: 2rem 0%;
	}
	.container {
		width: 100%;
		margin: none;
	}
	#portfolio .container {
		padding: 0.5rem;
	}
	#portfolio .container h3 {
		font-size: 1.5rem;
	}
	#portfolio .container p {
		font-size: 1rem;
	}
	.container button {
		width: 100%;
		padding: 0.5rem;
	}
	#skills .container h3 {
		font-size: 1.25rem;
	}
	#about h2 {
		font-size: 2rem;
	}
	#about h1 {
		font-size: 5rem;
	}
}
